.card {
    margin-top: 120px;
    position: relative;
    height: min(70vw, 30svh);
    width: min(80vw, 30svh);
    border-radius: 5%;
    box-sizing: border-box;
    background-color: rgba(155, 101, 255, 0.2);
    backdrop-filter: blur(6px);
    border: 2px solid rgba(100, 100, 100, 0.536);
}

.top img {
    height: 60%;
    width: 60%;
    border: 2px solid rgba(100, 100, 100);
    border-radius: 50%;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate3D(-50%, -50%, 0);
}

.name {
    margin-top: 0px;
    font-size: max(3vh, 1vw);
    margin-bottom: max(4px, 1vw);
}

.id {
    color: rgb(200, 200, 200);
    font-size: max(2.4vh, 0.8vw);
}

.bottom {
    margin-top: 35%;
    line-height: 25px;
    padding: 5% 0;
}

.contri {
    padding-left: 25%;
    margin-top: 13px;
    font-size: max(2vh, 0.7vw);
}

.contri ul li {
    text-align: left;
    margin-top: 4px;
}

@media only screen and (max-width: 1048px) {

    .card {
        margin-top: 80px;
        height: min(60vw,40vh);
    }

    .name {
        margin-top: -10px;
        font-size: max(3vh, 1vw);
        margin-bottom: max(4px, 1vw);
    }

    .id {
        color: rgb(200, 200, 200);
        font-size: max(2.4vh, 0.8vw);
        margin-top: -5px;
    }

    .contri {
        margin-top: 2px;
    }

    .contri ul li {
        margin-top: 0px;
    }

}