.text {
    text-shadow: rgb(172, 5, 5) -4px 2px 5px;
    color: rgb(241, 254, 98);
    z-index: 0;
    text-align: center;
    font-size: min(10vh, 20vw);
    margin-top: 0px;
    position: relative;
    top: 5vh;
}

.about-middle-card {
    margin: 0 auto;
    height: min(67vh, 74vw);
    width: min(90vh, 99vw);
}

.teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5em;
    gap: 1.5em;
    margin: min(6.7vh, 7.4vw) 0;
    
}


.about-card {
    transition: all 0.4s;
    background: linear-gradient(rgba(126, 128, 255, 0.221) 0%, rgba(116, 118, 255, 0) 100%);
    border: 1px solid rgb(124, 126, 255);
    border-radius: 1.5em;
    width: min(32em, 90vw);
    height: fit-content;
    padding: 5px 20px 25px 20px;
    cursor: pointer;
}

.about-card p, .stack {
    font-size: min(5vh, 10vw);
    margin-block-start: 0.4em;
    /* margin-inline-start: 0.6em; */
    font-weight: bold;
    opacity: 0.8;
}

.about-card ul {
    list-style: none;
    margin-inline-start: 0.8em;
    padding-inline-start: 0px;
}

.about-card ul li {
    font-size: min(3vh, 4.5vw);
    text-align: left;
}

#signn {
    font-size: min(3vh, 4.5vw);
    z-index: 0;
    background-color: #663dff;
    background-image: linear-gradient(319deg, #663dff 0%, #920dd5 45%, #ab056b 100%);
    /* color: #C2BFC9; */
    font-weight:100;
}

#signn:hover {
    opacity: 1;
    color: white;
    border: 2px solid white;
}

.Acard {
    transition: all 0.4s;
    background: linear-gradient(rgba(126, 128, 255, 0.221) 0%, rgba(116, 118, 255, 0) 100%);
    border: 1px solid rgb(124, 126, 255);
    width: min(75svh, 75vw);
    font-size: min(4svh, 6vw);
}

.Acard:hover {
    box-shadow: rgb(124 127 255) 0px 0px 12px;
    cursor: pointer;
}

.name {
    font-size: 120%;
}

.part {
    width: min(15em, 80vw);
}

.repo-link {
    -webkit-tap-highlight-color: transparent;
}



.tech-box{
    transition: all 300ms;
    margin: min(3vh,10vw) auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
}

.tech-box-child{
    display: flex;
    justify-content: center;
    margin: 10px 5px;

}

.tech-box-child .img{
    height:min(100px,10vw);
    width: min(120px,10vw);
    object-fit: cover;
    margin: 8px 10px;

    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.tech-box:hover{
    scale: 1.1;
    filter: invert();
}

@media only screen and (min-width: 1048px) {
    .tech-stack{
        width: 80vw;
    }
    .part{
        width: 48%;
        scale: 1.5;
    }

}