nav {
    --foreground-rgb: rgb(255, 255, 255);
    --background-start-rgb: rgb(34, 34, 34);
    --background-end-rgb: rgb(0, 0, 0);
}

nav{
    position: fixed;
    top: 0;
    width: 100svw;
    color: var(--foreground-rgb);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    user-select: none;
}

.active {
    color: red;
}

.menu-icon {
    height: 35px;
    width: 35px;
    margin-right: 25px;
}

.signout {
    background: linear-gradient(90.2deg, #ff0c28, #7200ff);
    color: white;
    font-weight: bolder;
    border-radius: 1.2em;
    border: 2px solid rgb(142, 4, 4);
}

.signout:hover {
    text-shadow: #FC0 0.5px 0 10px;
    border: 2px solid white;
    cursor: pointer;
    color: rgb(217, 238, 51);
}

.backdrop {
    top: 0;
    left:  0;
    position: fixed;
    height: 100svh;
    width: 100svw;
    z-index: 2;
}

.dropDown{
    position: absolute;
    top: 90px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(17, 0, 58, 0.4);
    background-color: rgba(18, 0, 60, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    z-index: 20;
}

.desktop-links {
    display: none;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    margin-right: 15px;
}

.desktop-links a {
    font-size: 1.2em;
    margin : 0px  1.5em;
    height: fit-content;
}

.desktop-links a:hover {
    color: rgb(240, 236, 8);
    text-decoration: underline;
}

.show {
    animation: show 300ms ease-out forwards;
}

.hide {
    animation: hide 200ms ease-out forwards;
}

.dropDown a {
    padding: 10px 20px;
    width: 150px;
    text-align: left;
    z-index: 20;
}

@keyframes show {
    0% {
        clip-path: circle(0 at 100px 0);
    }
    100% {
        clip-path: circle(140% at 100px 0);
    }
}

@keyframes hide {
    0% {
        clip-path: circle(140% at 100px 0);
    }
    100% {
        clip-path: circle(0 at 100px 0);
    }
}

@media only screen and (min-width: 1100px) {
    .desktop-links {
        display: flex;
    }
    .active {
        text-decoration: underline;
        text-underline-offset: 6px;
    }
    .mobile-links {
        display: none;
    }
}