@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgb(255, 255, 255);
  height: 100svh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-start-rgb: rgb(34, 34, 34);
    --background-end-rgb: rgb(0, 0, 0);
  }
}

input, button {
  background-color: var(--background-end-rgb);
  border: 1px solid gray;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  color: var(--foreground-rgb);
  max-width: 400px;
}

.cancel {
  background-color: var(--background-end-rgb);
}

input:focus{
  outline: none;
  border-color: var(--foreground-rgb);
}

body {
  background-color: var(--background-start-rgb);
  text-align: center;
}

label, h1, p, li{
  color: var(--foreground-rgb);
}

header {
  background-color: var(--background-end-rgb);
  color: var(--foreground-rgb);
  height: 48px;
  display: flex;
  justify-content: space-between;
}

button:hover {
  border: 1px solid var(--foreground-rgb);
}

.links a:hover{
  text-decoration: underline;
}

@media only screen and (min-width: 700px) {

  header > a {
    margin: 0 10%;
    padding: 12px 0;
    border: 1px solid var(--background-end-rgb);
  }
  .menu{
    margin-right: 10%;
    width: 400px;
  }
  .links {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .links a{
    height: 46px;
    padding: 12px;
  }
}

@media only screen and (max-width: 700px) {
  header a {
    margin: 0 10%;
    padding: 12px 0;
    border: 1px solid var(--background-end-rgb);
  }
  .icon {
    margin: 0 10vw;
  }
  .bar{
    height: 2px;
    width: 35px;
    background-color: var(--foreground-rgb);
    margin: 10px;
  }
  .menu {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: end;
    overflow: hidden;
    z-index: 1;
    height: 48px;
  }
  .menu:hover {
    height: max-content;
  }
  .links{
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--background-end-rgb);
  }
  .links a{
    display: inline-block;
    width: 100px;
    height: 48px;
    padding: 12px;
  }
}