@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgb(255, 255, 255);
  height: 100svh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-start-rgb: rgb(34, 34, 34);
    --background-end-rgb: rgb(0, 0, 0);
  }
}

input, button {
  background-color: var(--background-end-rgb);
  border: 1px solid gray;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  color: var(--foreground-rgb);
  max-width: 400px;
}

.cancel {
  background-color: var(--background-end-rgb);
}

input:focus{
  outline: none;
  border-color: var(--foreground-rgb);
}

body {
  background-color: var(--background-start-rgb);
  text-align: center;
}

label, h1, p, li{
  color: var(--foreground-rgb);
}

button:hover {
  border: 1px solid var(--foreground-rgb);
}

.links a:hover{
  text-decoration: underline;
}