.home-text {
    --text: brown;
    font-size: min(7vh, 7vw);
    font-weight: 900;
}

.lottie-holder {
    height: 68vw;
    max-height: 70vh;
    max-width: 100vh;
    margin: 0 auto;
}

.vid {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0em;
    left: 0em;
}

.youtube {
    position: relative;
    margin: 5% auto;
    border: 1px solid white;
    border-radius: 8px;
    width: min(720px,96svw);
    height: min(450px,55svw);
    outline: none;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

.angledLine {
    width: 80vw;
    height: 24px;
    margin: 5vh auto;
    background: url('/assets/repeater.svg');
}

.angledLineWrap {
    width: 100%;
}