.video_animation {
    position: absolute;
    top: 50%;
    left: 50vw;
    z-index: -2;
    width: 100vw;
    height: 100em;
    mask-image: radial-gradient(50% 50% at 50% 50%, #fff 60.94%, transparent 100%);
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: .75s cubic-bezier(.6, .6, 0, 1) opacity;
    pointer-events: none;
}

.home-text {
    color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(yellow, orange);
    background-clip: text;
    font-size: min(10vh, 18vw);
    line-height: 10vh;
    width: 100%;
}

.lottie {
    height: 69%;
    max-width: 600px;
    margin: 0 auto;
}

.vid {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0em;
    left: 0em;
}

.youtube {
    position: relative;
    margin: auto;
    width: min(720px, 80svw);
    height: min(450px, 45svw);
}

@media only screen and (min-width: 1100px) {
    /* .lottie {
        display: none;
    } */
    section {
        display: flex;
        flex-direction: row-reverse;
        /* align-items: center; */
        justify-content: center;
        padding: 10vh 5vw;
    }
    .lottie {
        width: 70%;
        height: fit-content;
    }
    .home-text {
        font-size: 6vw;
        width: 65%;
        line-height: 6vw;
        height: fit-content;
    }
    .youtube {
        display: none;
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3D(-50%, -50%, 0); */
    }
}

@media only screen and (max-width: 1100px) {
    
    .video_animation {
        display: none;
    }
    .vid{
        display: none;
    }
}