.trigger {
    border: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.trigger:hover {
    border: none;
}
.student-card {
    width: calc(100vw - 26px);
    position: relative;
    /* padding: 8px; */
    display: flex;
    text-align: left;
    gap: 15px;
    align-items: center;
    height: 80px;
    /* border: 1px solid gray; */
    /* border-radius: 15px; */
    /* background-image: linear-gradient(90deg,rgba(255, 0, 255, 0.5),60%, rgba(0, 0, 255, 0.5)); */
}
.student-card img {
    border-radius: 40px;
    height: 70px;
    width: 70px;
    object-fit: cover;
    background-image: url('/assets/default-avatar.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.student-card h1 {
    width: calc(100vw - 111px);
    font-size: 15px;
    margin-top: -3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.student-card p {
    width: calc(100vw - 111px);
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.student-card span {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.student-card-name{
    margin: top 3vh;
}
.drower-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    bottom: -3vh;
    height: 90vh;
    width: 40vh;
    left: calc(50vw - 20vh);
    z-index: 20;
}

.drower-card {
    width: 40vh;
    margin-bottom: 60px;
    padding: 7px;
    border-radius: 5vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1) 70%, rgb(0, 0, 0));
    backdrop-filter: blur(7px);
    border: 1px solid rgb(64, 64, 64);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
}

.drower-image {
    margin: auto;
    height: 36vh;
    width: 100%;
    object-fit: cover;
    border-radius: 4vh 4vh 0 0;
    background-image: url('/assets/default-avatar.png');
    background-size: cover;
}


.drower-id {
    margin-top: 4px;
    display: inline-block;
    /* font-weight: bold; */
    font-size: 1.7vh;
}

.drower-name {
    font-size: 2vh;
    font-weight: bolder;
    line-height: 2vh;
}

.drower-city {
    font-size: 1.5vh;
}

.drower-about {
    margin-top: 1vh;
    /* background-color: rgba(0, 0, 255, 0.2); */
    height: 28vh;
    font-size: 1.5vh;
    text-align: justify;
    /* border: 2px solid white; */
    border-radius: 2vh;
    padding: 10px;
    word-wrap: break-word;
    /* pointer-events: none; */
}

.drower-logo-container {
    display: flex;
    width: 100%;
    height: 7vh;
    align-items: end;
    justify-content: space-evenly;
}

.drower-logo-container a {
    /* margin-top: 0.5vh; */
    /* background-color: rgb(255, 0, 200); */
    object-fit: cover;
    height: 5.5vh;
    width: 5.5vh;
    padding: 1vh;
    /* border-radius: 3vh; */
    transition: all 150ms ease-out;
}

.drower-logo-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.drower-logo-container a:hover{
    /* border: 1px solid white; */
    transform: translateY(-0.2vh);
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.385);
    scale:1.1;
}

/*===== DESKTOP =======*/
.d-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    align-items: center;
    justify-content: center;
    scroll-snap-type: y mandatory;
}

.d-container .drower-card {
    scroll-snap-align: center;
}

.no-select{
    -webkit-user-select: none; /* Safari */
   -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}