.trigger {
    border: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.trigger:hover {
    border: none;
}
.student-card {
    width: calc(100vw - 26px);
    margin-left: 8px;
    position: relative;
    padding: 8px;
    display: flex;
    text-align: left;
    gap: 15px;
    align-items: center;
    height: 80px;
    border: 1px solid gray;
    border-radius: 15px;
    background-image: linear-gradient(90deg,rgba(255, 0, 255, 0.5),60%, rgba(0, 0, 255, 0.5));
}
.student-card img {
    border-radius: 40px;
    height: 70px;
    width: 70px;
    object-fit: cover;
    background-image: url('/assets/default-avatar.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.student-card h1 {
    font-size: 18px;
    margin-top: -3px;
}
.student-card p {
    font-size: 14px;
}
.student-card span {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.drower-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    bottom: 0;
    height: 90vh;
    width: 40vh;
    left: calc(50vw - 20vh);
    z-index: 20;
}

.drower-card {
    width: 40vh;
    margin-bottom: 60px;
    padding: 7px;
    border-radius: 5vh;
    background-image: linear-gradient(rgba(255, 0, 255, 0.3),70%, rgba(0, 0, 255, 0.3));
    backdrop-filter: blur(5px);
    border: 1px solid white;
    box-shadow: 0 0 25px rgba(195, 0, 255, 0.529);
    color: white;
}

.drower-image {
    height: 28vh;
    width: 100%;
    object-fit: cover;
    border-radius: 5vh;
    background-image: url('/assets/default-avatar.png');
    background-size: cover;
}

.drower-id {
    margin-top: 5px;
    display: inline-block;
    font-weight: bold;
    font-size: 2vh;
}

.drower-name {
    font-size: 2.5vh;
    font-weight: bolder;
}

.drower-city {
    font-size: 1.6vh;
}

.drower-about {
    margin-top: 1vh;
    background-color: rgba(0, 0, 255, 0.2);
    height: 34vh;
    font-size: 1.7vh;
    text-align: justify;
    border: 2px solid white;
    border-radius: 2vh;
    padding: 10px;
    word-wrap: break-word;
}

.drower-logo-container {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
}

.drower-logo-container a {
    margin-top: 1vh;
    background-color: rgb(255, 0, 200);
    object-fit: cover;
    height: 6vh;
    width: 6vh;
    padding: 1vh;
    border-radius: 3vh;
    transition: all 150ms ease-out;
}

.drower-logo-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.drower-logo-container a:hover{
    border: 1px solid white;
    transform: translateY(-0.2vh);
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.385);
    scale:1.1;
}

.d-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    align-items: center;
    justify-content: center;
}