/* @import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap'); */

.container {
    display: flex;
    margin: 20px auto;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}

.middle-card {
    margin: 0 auto;
    height: min(60vh, 100vw);
    width: min(60vh, 99vw);
    padding: 0;
}

@media only screen and (max-width: 1100px) {
    .society-container {
        flex-direction: column;
    }
}

.no-select{
    user-select: none;
}

.title{
    
}