/* @import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap'); */

.society-container {
    width: 100%;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
}

.middle-card {
    margin: 0 auto;
    height: min(60vh, 100vw);
    width: min(60vh, 99vw);
    padding: 0;
}