/* @import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap'); */

.container {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
    gap: 10%;
}

.middle-card {
    margin: 0 auto;
    height: min(60vh, 100vw);
    width: auto;
}
.society-text {
    text-shadow: rgb(172, 5, 5) -4px 2px 5px;
    color: rgb(241, 254, 98);
    text-align: center;
    font-size: min(12vh, 20vw);
    margin-top: 0px;
    position: relative;
    line-height: 60%;
}
.desc {
    margin: 15px auto;
    line-height: min(4vh, 5vw);
    font-size: min(4vh, 5vw);
    max-width: 100vh;
    text-wrap: balance;
}