@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.container {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
    gap: 10%;
}

.middle-card {
    margin: 5vh auto 0 auto;
    height: min(60vh, 100vw);
    transform: translateY(10%);
    width: auto;
}
.text {
    font-family: 'Lilita One', cursive;
    /* font-weight: bolder; */
    text-shadow: rgb(172, 5, 5) -4px 2px 5px;
    color: rgb(241, 254, 98);
    text-align: center;
    font-size: min(10vh, 20vw);
    margin-top: 0px;
    position: relative;
    top: 5vh;
    user-select: none;
    
}