.imageLable {
    position: relative;
    display: inline-block;
    height: 290px;
    width: 290px;
    border-radius: 15px;
    border: 2px dashed white;
}

.userimage {
    position: relative;
    margin: 16px auto;
    height: 256px;
    width: 256px;
    object-fit: cover;
    border-radius: 12px;
    top: -65px;
}

.dndtext {
    position: relative;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 14rem;
    left: 2rem;
    top: 6rem;
}