.imageLable {
    position: relative;
    display: flex;
    height: min(76vw, 406px);
    width: min(80vw, 428px);
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 15px;
    border: 2px dashed white;
}

.userimage {
    position: absolute;
    height: 100%;
    width: 100%;
    scale: 0.95;
    object-fit: cover;
    border-radius: 12px;
}

.dndtext {
    position: absolute;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 14rem;
    margin: auto;
}