.card-placeholder {
    width: min(90vw, 400px);
    aspect-ratio: 3/4;
    margin: 10% 0;
}

.card {
    height: 100%;
    width: 100%;
    perspective: 1000px;
}

.front, .back {
    
    transition: all 1s ease;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    border: 4px solid #40beff;
    box-shadow: 0 0 12px #40beff;
    background: linear-gradient(180deg,#40beff,#005cce);
    backface-visibility: hidden;
    /* transition: all 1000ms ease;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    border: 4px solid #40DDFF;
    box-shadow: 0px 0px 12px #40DDFF;
    background: linear-gradient(180deg, #7C7FFF 0%, #40DDFF 100%);
    backface-visibility: hidden; */
}

.front h1 {
    font-weight: 900;
    font-size: min(7vw, 30px);
}

.back {
    transform: rotateY(180deg);
}

.back p {
    font-size: min(3.4vw, 15px);
    margin: min(10vw, 46px);
}

.back h1 {
    font-size: min(5vw, 22px);
    margin: min(3.5vw, 16px);
}

.card img {
    margin-top: 10%;
    height: 40%;
    width: 90%;
    object-fit: contain;
}

.card-placeholder:hover .front {
    transform: rotateY(180deg);
}

.card-placeholder:hover .back {
    transform: rotateY(360deg);
}

@media only screen and (min-width: 1100px) {

    .container {
        width: 60vw;
        max-width: 1200px;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10% auto;
    }

    .card-placeholder {
        width: 40%;
        margin: 5% auto;
    }

    .back p {
        font-size : 0.9vw;
    }

    .back h1 {
        font-size : 1.1vw;
    }

}