.card-placeholder {
    position: relative;
    width: min(90vw, 45svh);
    aspect-ratio: 3/4;
    margin: 5% 0;
}

.card {
    height: 100%;
    width: 100%;
    perspective: 1000px;
}

.front, .back {
    height: 100%;
    width: 100%;
    transition: all 1s ease;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    border: 4px solid #40beff;
    box-shadow: 0 0 12px #40beff;
    background: linear-gradient(180deg,#40beff,#005cce);
    backface-visibility: hidden;
}

.front h1 {
    font-weight: 900;
    font-size: min(7vw, 3.5svh);
    width: min(90vw, 400px);
}

.back {
    transform: rotateY(180deg);
}

.back p {
    font-size: min(3.3vw, 1.7svh);
    margin: min(10vw, 5svh);
}

.back h1 {
    font-size: min(5vw, 2.5svh);
    margin: min(3.5vw, 1.7svh);
}

.card img {
    margin-bottom: 10%;
    height: 63%;
    width: 85%;
    object-fit: cover;
    border: 4px solid #40beff;
    box-shadow: 0 0 12px #40beff;
}

.card-placeholder:hover .front, .snap {
    transform: rotateY(180deg);
}

.card-placeholder:hover .back, .blip {
    transform: rotateY(360deg);
}

.para{
    line-height: min(6vw, 3svh);
}

.btn{
    position: absolute;
    top:8%;
    background-color: rgb(36, 32, 32);
    color: #C2BFC9;
    border-radius: 1em;
}

.btn:hover{
    border: white 1px solid;
}

.btn:hover h1{
    color: white;
    text-shadow: white 1px 0px 2px;
}